:root { /* base fonts */
  box-sizing: border-box;
  font-size: 18px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* styles for link */
a:link {
  color: var(--brand-green);
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: red;
}

html {
  --brand-green: hsl(162, 87%, 21%);
  --dark-green: hsl(162, 88%, 30%);
}
body {
  font-family: Lato;
  margin: 0;
}
h1, h2, h3, p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
}
.wrapper_protfolio {
  position: relative;
  background-color: #2d303a;
}
.wrapper__inner {
  max-width: 940px;
  margin: 0 auto;
}

.portfolio {
  position: relative;
  height: 870px;
  font-size: 1.43em;
  overflow-y: hidden;
}

.intro__logo {
  margin-top: 61px;
  margin-bottom: 23px;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 0.6em;
  letter-spacing: -0.2px;
  color: #666d89;
}

.intro__slogan {
  font-weight: 400;
  font-size: 0.7em;
  color: #767e9e;
}

.nav_container {
  display: block;
}

.nav_container__portfolio {
  display: flex;
  color: red;
  padding-left: 0;
  margin: 16px 0 19px;
  list-style-type: none;
}

.nav_container__portfolio a {
  display: block;
  padding: 0.3em 0.6em;
  margin-left: 1px;
  margin-right: 9px;
  font-size: 0.45em;
  font-weight: 400;
  letter-spacing: 0.1px;
  border-radius: 6px;
  text-transform: capitalize;
  color: #767e9e;
  border: 1px solid #666d89;
}
.nav_container__featured > a {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.nav_container__portfolio a:hover {
  background-color: var(--dark-green);
}

.media{
  height: 601px;
  overflow-y: hidden;
}
.media > figure {
  max-width: 300px;
  display: inline-block;
  margin: 0;
  font-size: 1px;
}

.media > figure:not(:nth-child(4n)) {
  margin-right: 20px;
  margin-bottom: 20px;
}
.media > figure:not(:nth-child(4n + 1)) {
  margin-left: -5px;
}
.media > figure::nth-child(4n) {
  margin-right: -5px;
  margin-left: -5px;
}
.media img {
  width: 100%;
  object-fit: cover;
}

.wrapper_protfolio::after {
  content: " ";
  position: absolute;
  width: 100vw;
  height: 6px;
  background: #323746;
  margin-left: -40px;
  bottom: 0;
} 

/*

@supports (display: grid) { /* trying to use display grid... 
  .media {
    /* margin: 0 auto; */
    /* margin-left: -40px; */
    /* display: grid; */
    /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-auto-rows: 1fr; */
    /* grid-gap: 1em; */
    /* grid-auto-flow: dense; 
    font-size: 1px;
    grid-gap: 1px;
  }

  .media > figure {
    display: block;
    flex-direction: column;
    max-width: initial;
    margin: 0 auto;

  }

  .media img {
    flex: 1;
    width: 220px;
    height: 187px;
  }
  
  */
  
.wrapper__about-us {
  position: relative;
  padding-bottom: 27px;
  background-color: #f2f2f2;
}

.title {
  width: 100%;
  margin-bottom: 0;
  font-family: Lato;
  color: #666d89;
  text-transform: capitalize;
}

.description {
  padding-top: 60px;
}
.description__title {
  margin-bottom: 19px;
  font-weight: 900;
  font-size: 1.12em;
}

.paragraph {
  width: 100%;
  font-family: Lato;
  color: #767e9e;
  font-weight: normal;
  text-align: justify;
}
.description__paragraph {
  line-height: 30px;
  font-size: 1em;
}

.profile {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 45px;
}
.profile__name {
  height: 21px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 1.05em;
  letter-spacing: -0.4px;
  overflow: hidden;
}
.member__paragraph {
  width: 300px;
  margin-top: 10px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;
}

.profile__member {
  display: block;
  width: 300px;
  margin: 0;
  overflow: hidden;
}
.profile__member_featured {
  margin-left: -2px;
}

.social-networks__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 1px;
  margin-top: 19px;
}
.social-networks__links_featured {
  padding-left: 0;
}
.social-networks__links > li {
  padding-top: 4px;
  margin-right: 8px;
  margin-bottom: 50px;
  border: 0px solid black;
  border-radius: 50%;
  text-align: center;
}
.social-networks__links > li:hover {
  transform: translateY(-3px);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
  height: 35px;
}
.social-networks__links a > img {
  text-align: center;
}

.facebook {
  /* background: url('../singolo/assets/images/pictures_singolo2/facebook-icon.png') no-repeat; */
  height: 32px;
  width: 32px;
}
.google {
  /* background: url('../singolo/assets/images/pictures_singolo2/goolge-icon.png') no-repeat; */
  height: 32px;
  width: 32px;
}.twitter {
  /* background: url('../singolo/assets/images/pictures_singolo2/twitter-icon.png') no-repeat; */
  height: 32px;
  width: 32px;
}.linkedin {
  /* background: url('../singolo/assets/images/pictures_singolo2/linkedin-icon.png') no-repeat; */
  height: 32px;
  width: 32px;
}

.wrapper__about-us::after {
  content: " ";
  position: absolute;
  width: 100vw;
  height: 6px;
  background: #ffffff;
  bottom: 0;
} 
